web/App_WebReferences/cn/org/fcl_sz/Service4LiLang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fcl-sz.org.cn/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://fcl-sz.org.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fcl-sz.org.cn/">
      <s:element name="GetTestResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppSecret" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTestResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResult" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="Service4LiLangSoap">
    <wsdl:operation name="GetTestResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取测试结果数据集以xml表示</wsdl:documentation>
      <wsdl:input message="tns:GetTestResultSoapIn" />
      <wsdl:output message="tns:GetTestResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service4LiLangSoap" type="tns:Service4LiLangSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestResult">
      <soap:operation soapAction="http://fcl-sz.org.cn/GetTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTestResultSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service4LiLangSoap12" type="tns:Service4LiLangSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestResult">
      <soap12:operation soapAction="http://fcl-sz.org.cn/GetTestResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTestResultSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service4LiLang">
    <wsdl:port name="Service4LiLangSoap" binding="tns:Service4LiLangSoap">
      <soap:address location="http://fcl-sz.org.cn/customsrv/Service4LiLang.asmx" />
    </wsdl:port>
    <wsdl:port name="Service4LiLangSoap12" binding="tns:Service4LiLangSoap12">
      <soap12:address location="http://fcl-sz.org.cn/customsrv/Service4LiLang.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>